body {
  gap: 1rem;
  color: rgb(255, 255, 255);
  background: #17181c;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 40px;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#000000),
      color-stop(40%, #0f4387),
      color-stop(80%, #5fc0ff)
  );
  background: linear-gradient(0deg, #0f4387 20%, #5fc0ff 80%);
}
