$color_primary: #d0fafdb9;
$color_primary_transp: #75bbc08c;
$color_funny: #dff7b58c;
$color_primary_hover: #1f7b81b9;
$color_dark_hover:#CDCDCD;
$color_dark2:#264547f8;
$font_serif:Georgia, 'Times New Roman', Times, serif;
$font_sansserif:"Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$color_background:#293c58;
$color_dark:#6581ac;
$color_light:#bfd7fa;
$color_light2: rgb(222, 226, 231);
$color-overlay:#2028338a;
$content-width:1200px;
$tablet-width:768px;

$mobile-big-width:414px;
$mobile-small-width:320px;

